
data/L3.zip
data/SF_Model.zip
data/SF_Model_EPSG_4326.zip
workspace/Earthsys144.code-workspace
.vscode/settings.json
data/Parcels_CA_2014.zip
docs/midterm_exam_questions_private.md
docs/ignore/midterm_exam_questions_private.md
docs/ignore/
